@model IEnumerable<NotDelicious.Models.Link>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th></th>
        <th>
            Name
        </th>
        <th>
            Url
        </th>
        <th>
            Description
        </th>
        <th>
            Tags
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.LinkId }) |
            @Html.ActionLink("Details", "Details", new { id=item.LinkId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.LinkId })
        </td>
        <td>
			@item.Name
        </td>
        <td>
			@item.Url
        </td>
        <td>
			@item.Description
        </td>
        <td>
			@(item.Tags == null ? "None" : item.Tags.Count.ToString())
        </td>
    </tr>
}

</table>


